.sidebarPortfolio {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  position: relative; // Assure que le conteneur a une position définie pour l'empilement

  .bg {
    position: fixed; // Gardez la position fixe pour la sidebar
    top: 10; // Ajustez top à 0 pour qu'il soit collé en haut
    left: 0;
    width: 300px;
    height: 61%;
    box-shadow: 9px 8px 19px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 51px 49px 0px;
    border: 2px inset darkred;
    border-left: 5px inset darkred;
    background-color: rgb(169, 169, 255);
    z-index: 10; // Valeur par défaut pour la sidebar

    .links {
      position: absolute; // Position absolue pour les liens à l'intérieur de la sidebar
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed; // Position fixe pour le bouton toggle
    top: 212px;
    left: 25px;
    background-color: white;
    border: none;
    cursor: pointer;
    z-index: 20; // Assurez-vous que le bouton est au-dessus de la sidebar
  }
}
