@use "src/styles/variables";

.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

  .sectionUnGauche {
    .first-letter {
      color: #333333;
      background: #ffffff;
      text-shadow:
        2px 2px 0px #ffffff,
        5px 4px 0px rgba(0, 0, 0, 0.15);
      font-size: 2.4rem; // Taille de police plus grande
      font-weight: 600; // Gras
      float: left; // Pour aligner la lettre à gauche
      margin-right: 5px; // Espacement avec le texte suivant
    }
    width: 70%;
    margin: 0 auto;
  }

  .sectionUnDroite {
    width: 30%;
    padding-left: 2rem;

    .afficheAgeDeCristal {
      padding: 5px;
      border-radius: 5px;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.7) 25%,
        rgba(139, 0, 0, 0.7) 75%
      );
      background-size: 200% 200%;
      animation: pulseGradient 2s ease-in-out infinite;

      .nouvelleEdition {
        width: 25rem;
        margin: 2px;
      }
    }
  }

  @keyframes pulseGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .sectionUnGauche {
      width: 95%;
    }

    .sectionUnDroite {
      width: 95%;
      margin: 20px auto;
    }
  }
}
