@use "@/styles/variables" as *;

.searchbarContainer {
  position: relative; /* Nécessaire pour positionner la liste des suggestions correctement */
  width: 17rem;
  border-radius: 40px;
  background: white;
  // animation sur la bordure avec gradient sur les trois couleurs bleu-rouge-noir.
  &::after {
    position: absolute;
    content: "";
    top: -4px;
    left: -4px;
    z-index: -1;
    width: calc(100% + 4px * 2);
    height: calc(100% + 4px * 2);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 139, 0.7),
      rgba(139, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    );
    background-size: 300% 100%;
    background-position: 0% 50%;
    border-radius: 40px;
    animation: moveGradient 5s ease-in-out infinite;
  }

  .inputSearch {
    position: relative; /* Nécessaire pour que la liste des suggestions soit positionnée correctement */
    width: 16rem;
    display: flex;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    & input {
      border: none;
      font-size: 1rem;
      width: 100%; /* Assure que le champ de saisie prend toute la largeur disponible */
      box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    }

    .inputSearchIcon_Container {
      padding-left: 1.3rem;
      font-size: 1.2rem;
    }

    button {
      border: none; /* Enlever la bordure */
      background: none; /* Enlever l'arrière-plan par défaut */
      padding: 0; /* Enlever le padding par défaut */
      margin: 0; /* Enlever la marge par défaut */
      cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
    }
  }

  .suggestionsList {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: 100%; /* Assure que la liste des suggestions fait la même largeur que le champ de recherche */
    top: 100%; /* Positionne la liste directement sous le champ de recherche */
    left: 0;
    z-index: 1000; /* Assure que la liste des suggestions est au-dessus d'autres éléments */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optionnel : Ajoute une ombre pour plus de visibilité */
  }

  .suggestionItem {
    padding: 8px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0; /* Couleur de survol pour les éléments */
    }
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 33.33% 50%; /* Déplacer le gradient vers le milieu */
  }
  50% {
    background-position: 66.67% 50%; /* Déplacer le gradient vers la droite */
  }
  75% {
    background-position: 100% 50%; /* Ramener le gradient à gauche */
  }
  100% {
    background-position: 0% 50%; /* Revenir à la position initiale */
  }
}
