/* ResumeTimeline.scss */

/* Style pour le titre de la timeline */
.timelineTitleResume {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
/* Style pour la modale */
.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 1rem;
  outline: none;
  display: flex;
  flex-direction: column; /* Permet de placer le titre et le contenu verticalement */
}

/* Style pour l'en-tête de la modale et l'icône de fermeture */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; /* Ajoute de l'espace entre l'en-tête et le contenu */
}

.closeIcon {
  cursor: pointer;
  font-size: 2rem; /* Taille de l'icône */
  color: #000;
}
