@use "src/styles/variables";
.paragrapheSectionSix {
  padding-right: 1rem;
}
.cityMaquetContainer {
  display: flex;
  flex-direction: column;
  .cityMaquetBorder {
    margin-top: 1rem;
    border-radius: 10px;
    width: 460px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 139, 0.7),
      rgba(139, 0, 0, 0.7)
    );
    padding: 4px; /* Ajustement du remplissage pour que le contenu ne soit pas coupé */
    .cityMaquet {
      width: 450px;
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  @media (max-width: 768px) {
    .cityMaquetBorder {
      width: 100%; /* Utiliser toute la largeur disponible */
    }

    .cityMaquet {
      width: 100%; /* L'image s'adapte à la largeur du conteneur */
    }
  }
}
