@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 500px;
  padding: 1.5rem;

  .cubs-logo {
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 0.5rem;
  }

  .react-h5-audio-player {
    border-radius: 20px; /* Bordures arrondies */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure subtile */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* Ombre floue pour donner de la profondeur */
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 500px; /* Taille maximale pour une apparence compacte */

    .rhap_controls-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }

    .rhap_button-clear {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 50%;
      transition:
        background-color 0.3s ease,
        transform 0.3s ease;

      &:hover {
        background-color: rgba(0, 123, 255, 0.2);
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
      }

      svg {
        fill: #007bff;
        width: 24px;
        height: 24px;
      }
    }

    .rhap_play-pause-button {
      background-color: #007bff;
      color: white;
      border-radius: 50%;
      width: 50px;
      height: 50px;

      &:hover {
        background-color: #0056b3;
      }

      svg {
        fill: white;
        width: 28px;
        height: 28px;
      }
    }

    .rhap_rewind-button,
    .rhap_forward-button {
      background-color: #f8f9fa;
      border: 1px solid #ced4da;
      border-radius: 50%;
      width: 40px;
      height: 40px;

      &:hover {
        background-color: #e2e6ea;
      }

      svg {
        fill: #007bff;
      }
    }

    .rhap_volume-container,
    .rhap_progress-section {
      margin-top: 1rem;
    }

    .rhap_volume-bar {
      background-color: #ced4da;
      height: 5px;
    }

    .rhap_volume-indicator {
      background-color: #007bff;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }

    .rhap_progress-bar {
      background-color: #ced4da;
      height: 5px;
    }

    .rhap_progress-indicator {
      background-color: #007bff;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
  }

  button {
    background-color: #007bff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: #0056b3;
    }
  }
}
