$navbarTextColor: black;
// Les variables de la page d'accueil
// section 7, background des cinq cristaux
$backgroundSectionWhiteFlower: rgba(255, 0, 0, 0.1);
$backgroundSectionyellowFlower: rgba(255, 0, 0, 0.2);
$backgroundSectionBlueFlower: rgba(255, 0, 0, 0.3);
$backgroundSectionRedFlower: rgba(255, 0, 0, 0.4);
$backgroundSectionBlinkingRedFlower: rgba(255, 0, 0, 0.5);
$backgroundSectionBlacklower: rgba(0, 0, 0, 0.2);
