@use "@/styles/mixins" as *;

// Utilisation des mixins flex pour factoriser
// mixins
.parallax1-wrapper {
  @include flex-center;
  width: 100vw;
  min-width: 100vw;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 48px;
}

.parallax1-section {
  position: relative;
  width: 1197px;
  height: 597px;
  overflow: hidden;
  background: #000;
  display: block;
  border: 8px solid #d2a94e;
  border-radius: 32px;
  box-shadow:
    0 0 0 4px #4b3b11,
    0 6px 48px 8px #000a,
    0 0 28px 2px #d2a94e22 inset;
  background-image:
    repeating-linear-gradient(135deg, #2d2512 0 5px, transparent 5px 25px),
    repeating-linear-gradient(45deg, #3e2b13 0 8px, transparent 8px 30px);
  background-blend-mode: overlay;

  // Masquer la section sur mobile et petits écrans
  @media (max-width: 1366px) {
    display: none;
  }
}

.parallax1-section img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  user-select: none;
  pointer-events: none;
  /* Pas de !important ici */
}

.parallax-bg {
  z-index: 0;
  left: 0;
  top: 0;
}

.parallax-interceptor {
  z-index: 2;
  left: 0;
  bottom: 0;
  top: auto;
}

.parallax-logo {
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Gutz, Skarr, Nyx réduits avec scale et bien positionnés
.parallax-gutz,
.parallax-skarr,
.parallax-nyx {
  transform: scale(0.7);
  transform-origin: bottom right;
}

.parallax-gutz {
  z-index: 4;
  right: 0;
  bottom: -1%;
  left: -28%;
  top: auto;
}

.parallax-skarr {
  z-index: 5;
  right: 8%;
  bottom: 0;
  left: -29%;
  top: auto;
}

.parallax-nyx {
  z-index: 6;
  right: 0;
  bottom: 0;
  left: -5%;
  top: auto;
}

.parallax-logo,
.parallax-gutz,
.parallax-skarr,
.parallax-nyx {
  opacity: 0;
}
