.memoryGameContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 2rem;

  .cardsContainer {
    padding: 0.3rem;
    width: 630px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin: 1em 0;
    animation: changeColor 5s ease-in-out infinite;

    .cards {
      background-color: rgba(3, 29, 48, 0.714);
      cursor: pointer;
      border: 1px solid black;
      width: 150px;
      height: 150px;
      transition: all linear 0.3s;
      position: relative;
      overflow: hidden;

      &.flipped {
        transform: rotate3d(0, 1, 0, 180deg);
        transform-style: preserve-3d;

        .backside {
          background-color: rgb(3, 29, 48);
          backface-visibility: hidden;
          transform: rotate3d(0, 1, 0, 180deg);
        }
      }

      .backside {
        background-color: rgb(3, 29, 48);
        backface-visibility: hidden;
      }
    }
  }

  .endMessage {
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    animation: fadeInOut 3s ease-in-out;
  }

  @keyframes changeColor {
    0% {
      background-color: darkred;
    }
    100% {
      background-color: rgba(139, 0, 0, 0.121);
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .cardsContainer {
      width: 320px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
