@use "@/styles/mixins" as *;
// -----------------------------
.footer {
  width: 100vw;
  min-height: 12rem;
  padding: 1rem 5rem;
  background-image: url("../../assets/images/images-générales/futur.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: 2px solid rgba(0, 0, 0, 0.672);

  .footer_inside {
    @include flex-between-center;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 768px) {
      @include flex-column;
    }
  }

  .foxCodeurLogo {
    width: 10rem;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .socials-container {
    display: flex;
    @media screen and (max-width: 768px) {
      gap: 10px;
    }

    // Applique la taille sur les icônes et images sociales même quand elles sont dans un <a>
    a .socialsStyle,
    .socialsStyle {
      font-size: 1.9rem;
      position: relative;
      display: block;
      margin: 0 12px;
      border-radius: 50%;
      padding: 8px;
      box-shadow: 0 10px 15px rgba(83, 83, 83, 0.3);
      background: linear-gradient(0deg, #ddd, #fff);
      transition: color 0.5s;

      &:hover {
        color: darkred;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
      }
    }

    // Curseur en main sur tout le lien social
    a {
      cursor: pointer;
    }

    .github,
    .linkedin {
      margin-bottom: 1rem;
    }

    .socialFox {
      margin-bottom: 1rem;

      a .fox,
      .fox {
        width: 2.8rem;

        @media screen and (max-width: 768px) {
          width: 2.4rem;
        }
      }
    }
  }
}
