@use "src/styles/variables";
.lexique {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 5px;
  padding-right: 5px;
}
