@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.portfolioContainer {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .sectionPortfolio {
    flex-shrink: 0;
  }

  // Pour que la dernière section (Contact) colle au bas même si peu de contenu
  .sectionPortfolio:last-child {
    margin-top: auto;
  }
}
