.pursuitContainer {
  position: relative;
  width: 800px;
  height: 587px;
  margin: 3rem auto;
  overflow: hidden;
  border: 1px solid black;

  box-shadow:
    rgba(255, 0, 0, 0.4) 5px 5px,
    rgba(255, 0, 0, 0.3) 10px 10px,
    rgba(255, 0, 0, 0.2) 15px 15px,
    rgba(255, 0, 0, 0.1) 20px 20px,
    rgba(255, 0, 0, 0.05) 25px 25px;
}

.pursuitContainerImg {
  position: absolute;
  top: -0.8rem;
  left: 0;
}

// Media query pour les écrans de largeur maximale de 600px (mobile)
@media (max-width: 600px) {
  .pursuitContainer {
    max-height: 200px;
    max-width: 300px;
  }
}

.pursuit_1 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-direction: normal;
}

.pursuit_2 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-direction: normal;
}

.pursuit_3 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-direction: normal;
}

.pursuit_4 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 6s;
  animation-direction: normal;
}

.pursuit_5 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 7s;
  animation-direction: normal;
}

.pursuit_6 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 8s;
  animation-direction: normal;
}

.pursuit_7 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 9s;
  animation-direction: normal;
}

.pursuit_8 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 11s;
  animation-direction: normal;
}

.pursuit_9 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 13s;
  animation-direction: normal;
}

.pursuit_10 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 17s;
  animation-direction: normal;
}

.pursuit_11 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 22s;
  animation-direction: normal;
}

.pursuit_12 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 25s;
  animation-direction: normal;
}

.pursuit_13 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 27s;
  animation-direction: normal;
}

.pursuit_14 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 29s;
  animation-direction: normal;
}

.pursuit_15 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 31s;
  animation-direction: normal;
}

.pursuit_16 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 33s;
  animation-direction: normal;
}
.pursuit_17 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 37s;
  animation-direction: normal;
}
.pursuit_18 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 38s;
  animation-direction: normal;
}
.pursuit_19 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 40s;
  animation-direction: normal;
}
.pursuit_20 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 44s;
  animation-direction: normal;
}
.pursuit_21 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 45s;
  animation-direction: normal;
}
.pursuit_22 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 47s;
  animation-direction: normal;
}
.pursuit_23 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 49s;
  animation-direction: normal;
}
.pursuit_24 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 54s;
  animation-direction: normal;
}
.pursuit_25 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 57s;
  animation-direction: normal;
}
.pursuit_26 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 58s;
  animation-direction: normal;
}
.pursuit_27 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 59s;
  animation-direction: normal;
}
.pursuit_28 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 64s;
  animation-direction: normal;
}
.pursuit_29 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 66s;
  animation-direction: normal;
}
.pursuit_30 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 68s;
  animation-direction: normal;
}
.pursuit_31 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 71s;
  animation-direction: normal;
}
.pursuit_32 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 78s;
  animation-direction: normal;
}
.pursuit_33 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 78.5s;
  animation-direction: normal;
}
.pursuit_34 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 79s;
  animation-direction: normal;
}
.pursuit_35 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 79.5s;
  animation-direction: normal;
}
.pursuit_36 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 80s;
  animation-direction: normal;
}
.pursuit_37 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 80.5s;
  animation-direction: normal;
}
.pursuit_38 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 83s;
  animation-direction: normal;
}
.pursuit_39 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 84s;
  animation-direction: normal;
}
.pursuit_40 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 85s;
  animation-direction: normal;
}
.pursuit_41 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 86s;
  animation-direction: normal;
}
.pursuit_42 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 87s;
  animation-direction: normal;
}
.pursuit_43 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 93s;
  animation-direction: normal;
}
.pursuit_44 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 96s;
  animation-direction: normal;
}
.pursuit_45 {
  animation-name: fondu-in-out;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 105s;
  animation-direction: normal;
}
@keyframes fondu-in-out {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  56% {
    opacity: 0;
  }
  63% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
